<div *ngIf="areOptionsLoaded()">

  <div class="loading-wrapper" *ngIf="markersLoaded">
    <div class="time-slider-wrapper">
      <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="sliderOptions"
                  (userChangeEnd)="handleSliderChange($event)"></ng5-slider>
    </div>

    <div class="slide-menu left" [@slideInOut]="filterMenuState">

    <!--LANGUAGE SELECT-->
    <div class="dropdown-wrapper">
      <h2>Language</h2>
      <angular2-multiselect *ngIf="languagesFromGroups.length !== 0"
                            [data]="languagesFromGroups"
                            [settings]="languagesSettings"
                            [(ngModel)]="selectedFilter['LANGUAGE']"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">

        <c-item>
          <ng-template let-item="item">
            <img src="{{randomUtils.getFlagLinkForLanguage(item.filterValue)}}"/>
            <label style="color: black;">({{item.count}})</label>
          </ng-template>
        </c-item>

      </angular2-multiselect>
    </div>

    <!--SOURCE SELECT-->

    <div class="dropdown-wrapper">
      <h2>Source</h2>
      <angular2-multiselect *ngIf="sourcesFromGroups.length !== 0"
                            [data]="sourcesFromGroups"
                            [settings]="sourcesSettings"
                            [(ngModel)]="selectedFilter['SOURCE']"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">

        <c-item>
          <ng-template let-item="item">
            <!--TODO: Refactor this please :(-->
            <!--TODO: Also add style for all labels-->
            <i *ngIf="randomUtils.getIconClassForSource(item.filterValue).toString() !== 'ion-android-globe'"
               class="{{randomUtils.getIconClassForSource(item.filterValue)}}"
               style="color:black; font-size:30px;"></i>
            <label *ngIf="randomUtils.getIconClassForSource(item.filterValue).toString() === 'ion-android-globe'"
                   style="color:black;">{{item.filterValue}}</label>
            <label style="color: black;">({{item.count}})</label>
          </ng-template>
        </c-item>

      </angular2-multiselect>
    </div>

    <div class="close-button-wrapper">
      <button class="close-button" (click)="toggleMenu()">
        <i class="ion-arrow-left-c" *ngIf="filterMenuState ==='out'"></i>
        <i class="ion-arrow-right-c" *ngIf="filterMenuState === 'in'"></i>
      </button>
    </div>

  </div>
  <div class="slide-menu right" [@slideInOut]="messageMenuState">


    <h1 style="display: inline-block; margin-left: 50px;">{{tweetsWithinBounds.length}}</h1>
    <button class="btn-iceblue" style="margin-left: 50px;" (click)="refreshTweetWithinBounds()">REFRESH</button>
    <button class="btn-iceblue" style="margin-left: 50px;" (click)="retrieveTweetForMarkersWithinBounds()">RETRIEVE</button>

    <div class="tweet-message-wrapper">
      <div *ngIf="tweetsInMessageArea.length > 0" class="scrollbar" id='style-2' style="overflow-y: scroll; height: 90%;">
        <div class="tweet-card" *ngFor="let tweet of tweetsInMessageArea" (click)="goToMarker(tweet.id)">
          <img src="{{tweet.details.user.biggerProfileImageURL}}" class="tweet-card-pp" alt="">
          <div class="tweet-card-header">
            <div class="tweet-card-name">{{tweet.details.user.screenName}}</div>
            <div class="tweet-card-uname">{{tweet.details.user.name}}</div>
          </div>
          <small>{{ tweet.createdAt }}</small>
          <div class="tweet">
            {{ tweet.details.tweetText }}
          </div>
        </div>
      </div>
    </div>

    <div class="close-button-wrapper">
      <button *ngIf="messageMenuState === 'out'" class="close-button" (click)="toggleMessageMenu()">
        <i class="ion-arrow-left-c"></i>
      </button>

      <button *ngIf="messageMenuState === 'in'" class="close-button" (click)="toggleMessageMenu()">
        <i class="ion-arrow-right-c"></i>
      </button>
    </div>
  </div>
  </div>


  <ngx-loading [show]="!markersLoaded" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

  <div class="map-wrapper">
    <div id="myMap"
         leaflet
         [leafletOptions]="options"
         (leafletMapReady)="onMapReady($event)">
    </div>
  </div>
</div>

<div class="number-of-tweets">
  <h3>Loaded tweets : {{tweetCount}}</h3>
</div>

