@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.tweet-card {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px 0px 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #ffffff;
  color: #2B2B2B;
  text-align: center;
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
}

.tweet-card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.profile-wrapper {

}

.profile-wrapper .followers-wrapper {
  display: inline-block;
  width: 15%;
  font-size: 15px;
  /*margin-left: -20px;*/
  /*margin-right: 40px;*/
}

.profile-wrapper .tweet-count {
  font-size: 15px;
  display: inline-block;
  width:15%;
}

.tweet-card .profile-image {
  /*padding: 15% 10% 0;*/
  display: inline-block;
  width:60%;
}

.tweet-card .profile-image img {
  /*vertical-align: top;*/
  position: relative;
  border-radius: 50%;
  /*max-width: 50%;*/
  /*margin-left: 10px;*/
}

.tweet-card h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.tweet-card h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px;
}

.tweet-card .icons i {
  color: #999;
  display: inline-block;
  margin-right: 5px;
  font-size: 1.5em;
}

.tweet-card .icons i:hover {
  color: #555;
}

.tweet-card .icons i a {
  text-decoration: none;
}
