/*body {*/
  /*font-family: 'Oxygen', sans-serif;*/
  /*background: #F5F5F5;*/
  /*overflow-x: hidden;*/
/*}*/

/*a {*/
  /*text-decoration: none;*/
  /*color: #FFFFFF;*/
/*}*/

/*#app {*/
  /*max-width: 500px;*/
  /*margin: 0 auto;*/
/*}*/

.tweet-card {
  max-width: 500px;
  display: block;
  overflow: auto;
  background-color: #1B2936;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  /*margin-bottom: 10px;*/
  margin-top:20px;
}

.tweet-card-pp {
  border-radius: 50% !important;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.tweet-card-header {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  cursor: pointer;
}

.tweet-card-name {
  vertical-align: middle;
  font-size: 1.1em;
  font-weight: 600;
  color: #FFFFFF;
}

.tweet-card-uname {
  vertical-align: middle;
  color: #FFFFFF;
}

small {
  float: right;
}

.tweet {
  margin-top: 20px;
  font-size: 14px;
}


#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #1a2580;
}

#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: #1a2580;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #D62929;
}

.scrollbar {
  margin-right: 10px;
  float: left;
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 25px;
  margin-top:50px;
}

.tweet-message-wrapper{
  top:0px;
  height:95%;
}
